<footer>
  <div class='container'>
    <div class='row'>
      <div class='one-half column'>
        <ul class='inline-list'>
          <li><a href='{{ site.github.repository_url }}' target="_blank">Repository</a></li>
          <li><a href='/releases.html'>Releases</a></li>
          <li><a href='{{ site.blog }}' target="_blank">Blog</a></li>
        </ul>
      </div>

      <div class='one-half column text-right'>
        <a href='{{ site.github.owner_url }}' class="no-hover-dec"><span class='octicon octicon-code'></span> with <span class='octicon octicon-heart'></span> by {{ site.github.owner_name }}</a>
      </div>
  </div>
</footer>
